<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupStaticAttributes="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>

    <testsuites>
        <testsuite name="Orno DB Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <php>
        <var name="OCI8_DATABASE" value="TEST" />
        <var name="OCI8_USERNAME" value="webuser" />
        <var name="OCI8_PASSWORD" value="webuser1" />
        <var name="PDO_DATABASE" value="mysql:dbname=testdb;host=localhost;charset=utf8" />
        <var name="PDO_USERNAME" value="root" />
        <var name="PDO_PASSWORD" value="t00thbrush" />
    </php>

</phpunit>
